.BlogCardSmall {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__img {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  &__tag {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 12px;
    background: #f4f8ec;
    color: #6a983c;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__title {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__info {
    display: flex;
    gap: 16px;
  }
  time {
  }
}
