@import "../../../scss/default_variables.scss";

.HomeSaleSection {
  //margin: 64px 0;
  &__wrapper {
    display: flex;
    gap: 25px;
  }
  &__aside {
    flex: 0 0 25%;

    ul {
      margin-top: 16px;
      li:not(:last-child) {
        margin-bottom: 12px;
      }
      margin-bottom: 48px;
    }
  }
  &__cards {
    // display: flex;
    // gap: 30px;
    // justify-content: center;
    // align-self: self-start;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  &-testCard {
    flex: 0 1 33.333%;
  }
}
