.productCard{
  position: relative;
  flex: 0 1 33.333%;
  border:1px solid #D1D1D1;
  border-radius:12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__sale{
    position: absolute;
    top: 25px;
    left: 30px;
    padding: 3px 5px;
    border-radius:12px;
    background-color:#f4f8ec;
    color:#6A983C;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
  }
  .productCard__img{
    min-width:220px;
    max-width: 220px;
    min-height:148px;
    border-radius:12px;
    background-color:#b9b9b9;
  }
  img{
    max-width: 100%;
    min-height: 100%;
    border-radius:12px;
    object-fit: cover;
  }
  &__title{
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color:#151515;
  }
  &__descr{
    font-size: 13px;
    color:#575757;
    line-height: 1.3;
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    &-actual{
      color:#151515;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
    }
    &-dated{
      display: block;
      font-size: 13px;
      color:#A9A9A9;
      font-family: 'Poppins', sans-serif;
    }
  }
}