@import '../../scss/default_variables.scss';

.bestSell{
  &__wrapper{
    display: flex;
    gap: 25px;
  }
  &__aside{
    flex: 0 0 25%;
    h2{
      color:$titleColor;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    ul{
      li:not(:last-child){
        margin-bottom: 12px;
      }
      margin-bottom: 48px;
    }
  }
  &__content{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-self: self-start;
  }
  &-testCard{
    flex: 0 1 33.333%;
    
  }
}