.searchBlock {
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #d1d1d1;
  background-color: #f9f9f9;
  border-radius: 12px;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  &-categories {
    color:#151515;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      width: 12px;
      height: 12px;
      margin-left: 15px;
    }
  }
  .searchBlock-popup {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    //padding: 15px 0;
    ul {
      font-size: 16px;

      a {
        display: block;
        padding: 10px 10px;
        border-radius: 12px;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        &.active,
        &:hover {
          background-color: #bde991;
        }
        
      }
    }
  }
  input {
    background: transparent;
    border: none;
    border-left: 1px solid #d1d1d1;
    padding-left: 24px;
    width: 250px;
    font-size: 16px;
    margin-right: 10px;
  }
  &-searchSvg {
    width: 20px;
    height: 20px;
  }
}
