.blogs {
  //temp
  &__title {
    margin-bottom: 64px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 48px;
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
}
